<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/harikunwar/Documents/GitHub/iOSTopicalCode</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-07-19T04:18:15Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/harikunwar/Documents/GitHub/iOSTopicalCode/AutoLayout/AutoLayoutSample/build/Debug-iphoneos/AutoLayout.app</string>
		<string>/Users/harikunwar/Documents/GitHub/iOSTopicalCode/AutoLayout/AutoLayoutSample/build/Debug-iphoneos/AutoLayoutSampleOSX.app</string>
		<string>/Users/harikunwar/Documents/GitHub/iOSTopicalCode/AutoLayout/AutoLayoutSample/build/Debug-iphoneos/AutoLayoutSample.app</string>
		<string>/Users/harikunwar/Documents/GitHub/iOSTopicalCode/AutoLayout/AutoLayoutSample/build/Debug-iphoneos/AutoLayoutSampleIOS.app</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
