<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitTestViewControllers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E91FE9D1C63CE7300751718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E91FEB41C63CE7300751718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E91FEBF1C63CE7300751718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
